<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Find new unanswered stack overflow questions</H1>
    <form action="/q-list" method="post">
    <label for="tag">Tag to look for:</label><br>
    <input type="text" name="tag"><br><br>
    <label for="pages">Number of pages to look through:</label><br>
    <input type="text" name='pages'><br><br>
    <input type="submit">
    </form>
    <br>
    <br>
    <a href="/search"><button>API DB search</button></a>
</body>
</html>